<?php include 'global/header.php';?>
<div class="content-top-breadcum">

</div>

<div id="information-information" class="container">
  <ul class="breadcrumb">
        <li><a href="index9328.html?route=common/home"><i class="fa fa-home"></i></a></li>
        <li><a href="index1679.html?route=information/information&amp;information_id=3">Privacy Policy</a></li>
      </ul>
  <div class="row"><aside id="column-left" class="col-sm-3 hidden-xs">
    <div class="sidebar section sidebar_category">
<div class="section-heading"><div class="border"></div>Categories</div>   
  <div class="section-block category_block">    
      <ul class="left-category treeview-list treeview">
                       <li class="expandable">
        <a href="index68ea.html?route=product/category&amp;path=33">Grocery &amp; Staples</a>
                       
                  <ul class="menu-dropdown">
                                
            <li>
                                <a href="indexaead.html?route=product/category&amp;path=33_67">Daal &amp; Pulses</a>
                                
                  <ul class="menu-dropdown">
                             <li>
                       <a href="index4495.html?route=product/category&amp;path=33_67_73">Arhar</a>
                       </li>
                   <li>
                       <a href="indexc253.html?route=product/category&amp;path=33_67_76">Masoor</a>
                       </li>
                   <li>
                       <a href="indexeb83.html?route=product/category&amp;path=33_67_72">Moong</a>
                       </li>
                   <li>
                       <a href="index7b0e.html?route=product/category&amp;path=33_67_75">Rajma &amp; Chana</a>
                       </li>
                   <li>
                       <a href="index74c8.html?route=product/category&amp;path=33_67_74">Urad</a>
                       </li>
                 </ul>
                    </li>
                         
            <li>
                                <a href="indexda86.html?route=product/category&amp;path=33_65">Dry Fruits &amp; Nuts</a>
                                
                  <ul class="menu-dropdown">
                             <li>
                       <a href="index66a5.html?route=product/category&amp;path=33_65_71">Akhrot &amp; Figs</a>
                       </li>
                   <li>
                       <a href="indexee7c.html?route=product/category&amp;path=33_65_68">Almonds &amp; Cashews</a>
                       </li>
                   <li>
                       <a href="index498a.html?route=product/category&amp;path=33_65_69">Nuts &amp; Seeds</a>
                       </li>
                   <li>
                       <a href="index1241.html?route=product/category&amp;path=33_65_70">Other Dry Fruits</a>
                       </li>
                 </ul>
                    </li>
                         
            <li>
                                <a href="index118f.html?route=product/category&amp;path=33_66">Edible Oils</a>
                                
                  <ul class="menu-dropdown">
                             <li>
                       <a href="index7be5.html?route=product/category&amp;path=33_66_81">Groundnut &amp; Coconut Oil</a>
                       </li>
                   <li>
                       <a href="indexdbeb.html?route=product/category&amp;path=33_66_77">Health Oils</a>
                       </li>
                   <li>
                       <a href="index57a1.html?route=product/category&amp;path=33_66_78">Mustard Oils</a>
                       </li>
                   <li>
                       <a href="indexe018.html?route=product/category&amp;path=33_66_80">Soyabean Oils</a>
                       </li>
                   <li>
                       <a href="index95d9.html?route=product/category&amp;path=33_66_79">Sunflower Oils</a>
                       </li>
                 </ul>
                    </li>
                         
            <li>
                                <a href="index5271.html?route=product/category&amp;path=33_62">Riced cauliflower</a>
                                
                  <ul class="menu-dropdown">
                             <li>
                       <a href="indexb04b.html?route=product/category&amp;path=33_62_82">Basmati</a>
                       </li>
                   <li>
                       <a href="index84fb.html?route=product/category&amp;path=33_62_85">Millet &amp; Others</a>
                       </li>
                   <li>
                       <a href="index0ff2.html?route=product/category&amp;path=33_62_84">Poha</a>
                       </li>
                   <li>
                       <a href="indexe1fa.html?route=product/category&amp;path=33_62_83">Sonamasuri &amp; Kolam</a>
                       </li>
                 </ul>
                    </li>
                     </ul>
            </li>
            <li class="expandable">
        <a href="index7983.html?route=product/category&amp;path=86">Personal Care</a>
                       
                  <ul class="menu-dropdown">
                                
            <li>
                                <a href="index4ba7.html?route=product/category&amp;path=86_93">Deos &amp; Perfumes</a>
                                   </li>
                         
            <li>
                                <a href="index3a93.html?route=product/category&amp;path=86_92">Hair Care</a>
                                   </li>
                     </ul>
            </li>
            <li class="expandable">
        <a href="index5b35.html?route=product/category&amp;path=87">Biscuits, Snacks &amp; Chocolates</a>
                       
                  <ul class="menu-dropdown">
                                
            <li>
                                <a href="index36e3.html?route=product/category&amp;path=87_91">Biscuits &amp; Cookies</a>
                                   </li>
                         
            <li>
                                <a href="indexe71b.html?route=product/category&amp;path=87_90">Chips &amp; Crisps</a>
                                   </li>
                     </ul>
            </li>
            <li class="expandable">
        <a href="indexa403.html?route=product/category&amp;path=88">Household Needs</a>
                       
                  <ul class="menu-dropdown">
                                
            <li>
                                <a href="index2f72.html?route=product/category&amp;path=88_94">Cleaning Tools &amp; Brushes</a>
                                   </li>
                         
            <li>
                                <a href="index51ef.html?route=product/category&amp;path=88_95">Home &amp; Car Fresheners</a>
                                   </li>
                     </ul>
            </li>
            <li class="expandable">
        <a href="index7490.html?route=product/category&amp;path=89">Breakfast &amp; Dairy</a>
                       
                  <ul class="menu-dropdown">
                                
            <li>
                                <a href="index7886.html?route=product/category&amp;path=89_97">Breakfast Cereal &amp; Mixes</a>
                                   </li>
                         
            <li>
                                <a href="indexecef.html?route=product/category&amp;path=89_96">Paneer &amp; Curd</a>
                                   </li>
                     </ul>
            </li>
            <li class="expandable">
        <a href="indexcd29.html?route=product/category&amp;path=63">Veggies Bowl</a>
                    </li>
            <li class="expandable">
        <a href="index6067.html?route=product/category&amp;path=60">Veggies</a>
                    </li>
            <li class="expandable">
        <a href="index73b3.html?route=product/category&amp;path=59">Del Monte Beets</a>
                    </li>
            <li class="expandable">
        <a href="index76bc.html?route=product/category&amp;path=61">Del Monte Corn</a>
                    </li>
            <li class="expandable">
        <a href="index2b30.html?route=product/category&amp;path=64">Green peas | Carrots</a>
                    </li>
            <li class="expandable">
        <a href="index98dc.html?route=product/category&amp;path=20">Fruits store</a>
                    </li>
        </ul>
  </div>
</div>

  </aside>

                <div id="content" class="col-sm-9">
      <h1>Privacy Policy</h1>
      <p>
	Privacy Policy</p>
</div>
    </div>
</div>
<?php include 'global/footer.php';?>